<dom-module id="article-view">
    <style>
        /* css rules */
    </style>
    <template>
        <paper-material elevation="1">
            <paper-input label="Title" value="{{title}}"></paper-input>
            <paper-input label="Date" value="{{date}}"></paper-input>
            <paper-input label="Author" value="{{author}}"></paper-input>
            <paper-input label="Tags" value="{{tags}}"></paper-input>
            <paper-autogrow-textarea id="a1">
                <textarea id="t1" value="{{text}}"></textarea>
            <paper-autogrow-textarea>
        </paper-material>
    </template>
</dom-module>
